# === Environment settings 
.env

# === Python cache & tests ===
__pycache__/
.deepeval/
.pytest_cache/

# === Virtual environments ===
ragtest_venv/

# === Ignoring log files and open file locks ===
*.log
.~lock.*.csv#

# === Excluding test runs and real data in the proof of concept
real_data.json

input/
output/
output2/
ids/

# === Excluding scripts not relevant for the demo
ragas_eval_large_amount_of_data.py
ragas_eval_large_amount_of_data2.py
compare_chunk_ids.py
test_api.py

# === Excluding non-public data
poc/prompts_and_answer_quality/*.txt
poc/prompts_and_answer_quality/*.json